body{
    background-repeat: no-repeat;
    background-size: 200vh;
    overflow: hidden;
}
nav{
    width: 100vw;
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0 80px;
    background-color: white;
    display: flex;
}
#menu li{
    display: inline-flex;
    padding: 10px 80px;
    color: black;
    font-size: 18px;
}

#menu li div{
    display: flex;
}

.listaR{
    position: absolute;
    right: 15px;
}

.listaR2{
    position: absolute;
    right: 150px;
}

#cartas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    padding: 15px 200px;
}

.cards{
    position: relative;
    width: 200px;
    height: 260px;
    overflow: hidden;
    margin: 15px;
    cursor: pointer;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    margin: auto;
}

.imagBack{
    opacity: 0;
}

.imagBack.active{
    opacity: 1;
    transform: perspective(500px) rotateY(360deg);
    animation: voltCarta 2s;
}

@keyframes voltCarta{
    50% {transform: perspective(500px) rotateY(230deg)}
    70% {transform: perspective(500px) rotateY(360deg)}
}
